<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css} " />
    </head>
    <body>
        <div class="container">

            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <span th:text="${message}"></span>
            <form th:action="@{/login}" method="POST">
                <div><label> Username : <input type="text" name="username"/> </label></div>
                <div><label> Password: <input type="password" name="password"/> </label></div>
                <div><input type="submit" value="Sign In"/></div>
            </form>
            
            <p><a class="btn btn-dark" href="/registrate">Sign up</a></p>
            <p><a class="btn btn-dark" href="/users">Users list</a></p>
            <p><a class="btn btn-dark" href="/tasks">Tasks list</a></p>
            <p><a class="btn btn-dark" href="/categories">Categories list</a></p>
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Sign Out"/>
            </form>

        </div>
        
    </body>
</html>