<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>registrate</title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username or password.
        </div>
        <span th:text="${message}"></span>
        <form th:action="@{/registrate}" method="POST">
            <div><label> Userame : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign Up"/></div>
        </form>
        <a href="/login">Login</a>
        <a href="/users">To users</a>
        <a href="/tasks">To tasks</a>
    </body>
</html>