<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css} " />
    </head>
    <body>
        <div class="container">
            <div class="col-md-6">

                <h1>Update the task</h1>

                <form action="#" th:action="@{/update/{id}(id=${task.id})}" th:object="${task}" method="POST">
                    <div class="form-group">
                        <label for="text">Text</label>
                        <input class="form-control" type="text" th:field="*{text}" id="text" placeholder="Put some text here">
                        <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" th:checked="${completed} == true" th:field="*{completed}" id="completed" />Completed
                        </label>
                    </div>
                    <input type="hidden" th:field="*{createdDate}" />
                    <input type="hidden" th:field="*{modifiedDate}" />
                    <button type="submit" class="btn btn-success">Update</button>
                </form>

            </div>
        </div>
    </body>
</html>