<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css} " />
    </head>
    <body>

        <div class="container">

            <h1 class="text-center">Todolist Application</h1>

            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Sign Out"/>
            </form>

            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Created date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}" th:class="|bg-light text-dark|">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.password}"></td>
                        <td th:text="${#strings.substring(#strings.replace(user.createdDate,'T',' '),0,19)}"></td>
                    </tr>
                </tbody>
            </table>

            <p><a class="btn btn-success" href="/registrate">Registrate a new user</a></p>

        </div>

        <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

    </body>
</html>